psycopg2 = "*"
gunicorn = "*"
coverage = "*"
coveralls = "*"
flask-marshmallow = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Werkzeug = "*"
Flask-WTF = "*"
Flask-Login = "*"
Flask-Testing = "*"
PyMySQL = "*"
Flask-Bootstrap = "*"
